<div class="form-group row no-padding text-center col-md-12">
            <div class="col-md-12">
                <h1>Welcome to the Kool4School Website</h1>
                
               <%= link_to "logout", destroy_user_session_path, method: :delete %>
            </div>
</div>