<div class="form-group row no-padding text-center col-md-12">
            <div class="col-md-12">
                <h1>Welcome to the Kool4School Website</h1>
                <%= image_tag "image6.png" %><br>
              
            </div>
</div>